body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100vw;
}

.app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 75vw;
  color: #333333
}

h1 h2 h3 {
  font-family: "Markazi Text";
  font-weight: medium;
}