.list-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 10px;
    list-style: none;
    font-weight: bold;
}

.list-nav-item {
    width: 100px;
    text-align: center;
    white-space: nowrap;
}

.ancor-nav {
    color: inherit;
}